
/* Universal Selector*/
* {
    font: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Element Selectors */
body {

}

header {
    height: 80px;
    width: 100%;
    background-color:skyblue;
    position: fixed;
    top: 0px;
}

h1 {

}


main {

}

figure {

}

img {
    text-align: center;
    display: block;
    margin: 30px auto;
    max-width: 30%;
}

/* Class Selectors */
.nav-section{
    text-align: right;
}
.nav-links {
    display: inline;
}
.text-center {
    text-align: center;
}
